<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Enter First Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">

    <label for="lastName">Enter Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age">

    <label for="email">Enter Email: </label>
    <input type="text" th:field="*{email}" id="email">

    <label for="password">Enter Password: </label>
    <input type="text" th:field="*{password}" id="password">

    <label for="role">Enter Role: </label>
    <input type="text" th:field="*{roles}" id="role">
        <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>